/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


.carousel__slide{
  padding: 5px;
  opacity: 0.9;
  transform: rotateY('-20deg') scale(0.9);
}

.carousel__viewport{
  perspective: 2000px;
}

.carousel__track{
  transform-style: preserve-3d;
}

.carousel__slide--sliding{
     transition: 0.5s;
}

.carousel__slide--active ~ .carousel__slide{
  transform: rotateY('-10deg ') scale(0.95);
}

.carousel__slide--next{
  opacity: 1;
  transform: rotateY(-10deg) scale(0.95);

}
.carousel__slide--active{
  opacity: 1;
  transform: rotateY(0) scale(1.1);
}